<div class="main-container">
  <div class="central-card" [formGroup]="loginForm">
    <img src="../../../assets/kanjikrateicon.png" width="5rem" height="5rem" />
    <h1>Login to KanjiKrate</h1>
    <div class="input-wrapper">
      <input type="text" formControlName="email" />
    </div>
    <div class="input-wrapper password-input">
      <input type="password" formControlName="password" />
    </div>
    <CommonButton
      [disabled]="!loginForm.valid"
      (click)="login()"
      title="Login"
    />

    @if (errorMessage) {
    <div>{{ errorMessage }}</div>
    }

    <div class="wrapper">
      <p>or</p>
    </div>
    <CommonButton title="Continue with Google" />
    <span>
      <p>Don't have an account yet?</p>
      <a href="/signup">Sign up</a>
    </span>
  </div>
</div>
