<div class="main-container">
  
  <div class="central-card" [formGroup]="loginForm">
   
    <img src="/kanjikrateicon.png" width="5rem" height="5rem" />
    <h1>Login to KanjiKrate</h1>
    <div class="input-wrapper">
      <input type="text" formControlName="email" placeholder="email..." />
    </div>
    <div class="input-wrapper password-input">
      <input
        type="password"
        formControlName="password"
        placeholder="password..."
      />
    </div>
    @if (loading) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @else {
      <mat-progress-bar style="opacity: 0;" mode="indeterminate"></mat-progress-bar>
    }
    <common-button
      [disabled]="!loginForm.valid && enableLoginBtn"
      (click)="login()"
      title="Login"
    />

    @if (errorMessage) {
    <div>{{ errorMessage }}</div>
    }

    <div class="wrapper">
      <p>or</p>
    </div>
    <common-button title="Continue with Google" />
    <span>
      <p>Don't have an account yet?</p>
      <a href="/signup">Sign up</a>
    </span>
  </div>
</div>
