.bread-crumbs-wrapper {
  display: flex;
  justify-content: flex-start;
}
.top-bar-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media (min-width: 769px) {
  main {
    max-height: 87%;
    overflow-y: auto;
    flex-direction: row;
    .flex-box {
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 3rem;
    }
  }
}
