<div class="card">
  <div class="top-container">
    <h1>{{ deckInfo().name }}</h1>
  </div>
  <div class="bottom-container">
    <common-button
      title="Cards"
      [size]="btnSize.FULLWIDTH"
      [colour]="btnColour.INFO"
      [routerLink]="['/decks', deckInfo()._id]"
    />
    <common-button
      title="Start new session"
      [size]="btnSize.FULLWIDTH"
      (click)="startNewRevSession()"
    />
    <common-button
      title="Delete"
      [size]="btnSize.FULLWIDTH"
      [colour]="btnColour.DANGER"
      (click)="deleteDeck(deckInfo()._id)"
    />
  </div>
</div>
