<div class="main-container">
  <div class="central-card" [formGroup]="signupForm">
    <img src="../../../assets/kanjikrateicon.png" width="5rem" height="5rem" />
    <h1>Sign up for KanjiKrate</h1>
    <div class="input-wrapper">
      <input type="text" formControlName="name" placeholder="Name..." />
    </div>
    <div class="input-wrapper">
      <input type="email" formControlName="email" placeholder="Email..." />
    </div>
    <div class="input-wrapper password-input">
      <input
        type="password"
        formControlName="password"
        placeholder="Password..."
      />
    </div>
    <CommonButton
      [disabled]="!signupForm.valid"
      (click)="signUp()"
      title="Sign up"
    />
    <div class="wrapper">
      <p>or</p>
    </div>
    <CommonButton title="Continue with google" />
    <span>
      <p>Already have an account yet?</p>
      <a href="/login">Login here</a>
    </span>
  </div>
</div>
