@import '../../../../styles.scss';

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .deck-container {
    
    box-shadow: $boxShadow;
    border-radius: 0.5rem;
    width: 20rem;
    height: 20rem;
  }
}


@media (min-width: 769px) {
  main {

  
    .deck-container {

      width: 32.5rem;
      height: 32.5rem;
    }
  }
}