$primaryColour: #2e3d50;
$secondaryColour: #009688;
$tertiaryColour: #26a69a;
$warningColour: rgb(255, 165, 0);
$dangerColour: RGB(255, 0, 0);
$infoColour: #7193c1;
$grey: rgb(164, 164, 164);
$offWhite: rgb(221, 221, 221);
$boxShadow: 0px 2px 10px 5px $offWhite;
$boxShadowHover: 30px 4px 4px 10px black;

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
