@import "../../../styles.scss";

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: -0.5rem;
  color: $grey;
}

.progress-bar-wrapper {
  display: flex;
  width: 20rem;
  border-radius: 0.3rem;
  overflow: hidden;
  background-color: $offWhite;

  .bar {
    height: 1.5rem;
    background-color: $offWhite;
  }

  .progress-bar {
    background-color: $tertiaryColour;
    transition: width 250ms ease;
  }
}

@media (min-width: 769px) {
  .progress-bar-wrapper {
    width: 30rem;
  }
}
